body{
    background-color: rgb(32, 33, 36);
}
div{
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}